.navigation-wrapper {
    height: 80px;
    background-color: black;
    color: #cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px; 
    border-bottom: 1px solid #222; 
}

/* LEFT COLUMN STYLES */
.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.navigation-wrapper > .left-column > .logo-image img {
    width: 180px; 
    height: auto;
}

/* CENTER COLUMN STYLES */
.navigation-wrapper > .center-column {
    display: flex;
    align-items: flex-start; 
    flex-grow: 1; 
    padding-top: 5px; 
}

.center-column > .explore-text {
    font-size: 12px;
    font-weight: 500;
    color: #daa520; 
    letter-spacing: 1px;
    position: absolute;
    top: 17px;
    left: 260px; 
}

.links-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px; 
    margin-top: 5px; 
}

.links-wrapper > .nav-link {
    width: auto; 
    margin-right: 30px; 
}

.links-wrapper > .nav-link a {
    font-family: Arial, Helvetica, sans-serif;
    color: #cbcbcb; 
    font-size: 18px; 
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 600; 
}

.links-wrapper > .nav-link a:hover {
    color: white; 
}

.links-wrapper > .spark-link a {
    font-weight: 200;
    color: #808080;
    margin-left: 10px;
    font-size: 16px;
}

.links-wrapper > .spark-link a i {
    font-size: 20px; 
    margin-left: 5px;
}


/* RIGHT COLUMN STYLES */
.right-column {
    display: flex;
    align-items: center;
}

.create-btn {
    background-color: #3b3c3b; 
    color: white;
    font-size: 17px;
    padding: 20px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    margin-right: 40px;
}

.create-btn i {
    color: #4CAF50; 
    margin-left: 5px;
    font-size: 20px;
}

.search-icon {
    color: #808080;
    font-size: 30px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 50px;
    cursor: pointer;
}

.login-btn {
    background-color: #3b3c3b;
    color: white;
    font-size: 17px;
    padding: 20px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    transition: color 0.3s;
    margin-right: 25px;
}

.signup-btn {
    background-color: #3b3c3b;
    color: white;
    font-size: 17px;
    padding: 20px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    transition: color 0.3s;
}

.login-btn:hover, .signup-btn:hover {
    color: white;
}


.hero-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4rem 4rem 6rem 4rem; 
            min-height: 80vh;
        }

@media (min-width: 1024px) { 
             .hero-section {
                flex-direction: row;
                justify-content: flex-start;
                gap: 4rem;
                align-items: flex-start;
                padding: 5rem 0rem 0rem 4rem;
                background-image: linear-gradient(to right, #282828, #0d0d0d);
            }
        }


.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #313131;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-right: 3px solid #3b3c3b; 
    border-top: 3px solid #3b3c3b;
}

.footer-pretext {
    font-size: 14px;
    color: #ccc;
}

.footer-main-text {
    font-weight: 800;
    font-size: 18px;
    color: white;
}
